doctype
html
    head
        meta(charset="utf-8")
        title 
            = title
    body
        h3 1111
        div#div1
        p.p1.
            dsdfasdf
            dsfasdf
            sdfasd
        ul
            each a in arr
                li= a